.about-us-pic {
  width: 100%;
  height: 900px;
  background-image: url("../../../assets/images/about-us.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
